<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"	
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../../static/assets/plugins/jquery-ui/jquery-ui.min.css" th:href="@{/assets/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
	<link href="../../static/assets/plugins/bootstrap/4.1.3/css/bootstrap.min.css" th:href="@{/assets/plugins/bootstrap/4.1.3/css/bootstrap.min.css}"  rel="stylesheet" />
	<link href="../../static/assets/plugins/font-awesome/5.3/css/all.min.css" th:href="@{/assets/plugins/font-awesome/5.3/css/all.min.css}"  rel="stylesheet" />
	<link href="../../static/assets/plugins/animate/animate.min.css" th:href="@{/assets/plugins/animate/animate.min.css}" rel="stylesheet" />
	<link href="../../static/assets/css/default/style.min.css" th:href="@{/assets/css/default/style.min.css}" rel="stylesheet" />
	<link href="../../static/assets/css/default/style-responsive.min.css" th:href="@{/assets/css/default/style-responsive.min.css}" rel="stylesheet" />
	<link href="../../static/assets/css/default/theme/default.css" th:href="@{/assets/css/default/theme/default.css}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="../../static/assets/plugins/jquery-jvectormap/jquery-jvectormap.css" th:href="@{/assets/plugins/jquery-jvectormap/jquery-jvectormap.css}" rel="stylesheet" />
	<link href="../../static/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css}" rel="stylesheet" />
	<link href="../../static/assets/plugins/gritter/css/jquery.gritter.css" th:href="@{/assets/plugins/gritter/css/jquery.gritter.css}"  rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../../static/assets/plugins/pace/pace.min.js" th:src="@{/assets/plugins/pace/pace.min.js}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<!-- <div id="page-loader" class="fade show"><span class="spinner"></span></div>-->
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin header -->
        <div th:insert="fragments/header :: header"></div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
        <div th:insert="fragments/sidebar :: sidebar"></div>
         <div th:insert="fragments/sidebar :: sidebarBg"></div>
        
        
        
		<!-- end #sidebar -->
		
		<div layout:fragment="content"></div>
		
		<div th:insert="fragments/themePanel"></div>
		
		
		
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../../static/assets/plugins/jquery/jquery-3.3.1.min.js" th:src="@{/assets/plugins/jquery/jquery-3.3.1.min.js}"></script>
	<script src="../../static/assets/plugins/jquery-ui/jquery-ui.min.js" th:src="@{/assets/plugins/jquery-ui/jquery-ui.min.js}"></script>
	<script src="../../static/assets/plugins/bootstrap/4.1.3/js/bootstrap.bundle.min.js" th:src="@{/assets/plugins/bootstrap/4.1.3/js/bootstrap.bundle.min.js}"></script>
	<!--[if lt IE 9]>
		<script src="../../static/assets/crossbrowserjs/html5shiv.js" th:src="@{/assets/crossbrowserjs/html5shiv.js}"></script>
		<script src="../../static/assets/crossbrowserjs/respond.min.js" th:src="@{/assets/crossbrowserjs/respond.min.js}"></script>
		<script src="../../static/assets/crossbrowserjs/excanvas.min.js" th:src="@{/assets/crossbrowserjs/excanvas.min.js}"></script>
	<![endif]-->
	<script src="../../static/assets/plugins/slimscroll/jquery.slimscroll.min.js" th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script src="../../static/assets/plugins/js-cookie/js.cookie.js" th:src="@{/assets/plugins/js-cookie/js.cookie.js}"></script>
	<script src="../../static/assets/js/theme/default.min.js" th:src="@{/assets/js/theme/default.min.js}"></script>
	<script src="../../static/assets/js/apps.min.js" th:src="@{/assets/js/apps.min.js}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../../static/assets/plugins/gritter/js/jquery.gritter.js" th:src="@{/assets/plugins/gritter/js/jquery.gritter.js}"></script>
	<script src="../../static/assets/plugins/flot/jquery.flot.min.js" th:src="@{/assets/plugins/flot/jquery.flot.min.js}"></script>
	<script src="../../static/assets/plugins/flot/jquery.flot.time.min.js" th:src="@{/assets/plugins/flot/jquery.flot.time.min.js}"></script>
	<script src="../../static/assets/plugins/flot/jquery.flot.resize.min.js" th:src="@{/assets/plugins/flot/jquery.flot.resize.min.js}"></script>
	<script src="../../static/assets/plugins/flot/jquery.flot.pie.min.js" th:src="@{/assets/plugins/flot/jquery.flot.pie.min.js}"></script>
	<script src="../../static/assets/plugins/sparkline/jquery.sparkline.js" th:src="@{/assets/plugins/sparkline/jquery.sparkline.js}"></script>
	<script src="../../static/assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js" th:src="@{/assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js}"></script>
	<script src="../../static/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js" th:src="@{/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
	<script src="../../static/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
	<script src="../../static/assets/js/demo/dashboard.min.js" th:src="@{/assets/js/demo/dashboard.min.js}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			Dashboard.init();
		});
	</script>
</body>
</html>
