<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html th:lang="#{document.lang}">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title th:utext="#{login.title}"></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"  rel="stylesheet" />
	<link href="../assets/plugins/jquery-ui/jquery-ui.min.css" th:href="@{/assets/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap/4.1.3/css/bootstrap.min.css"  th:href="@{/assets/plugins/bootstrap/4.1.3/css/bootstrap.min.css}"  rel="stylesheet" />
	<link href="../assets/plugins/font-awesome/5.3/css/all.min.css" th:href="@{/assets/plugins/font-awesome/5.3/css/all.min.css}" rel="stylesheet" />
	<link href="../assets/plugins/animate/animate.min.css" th:href="@{/assets/plugins/animate/animate.min.css}" rel="stylesheet" />
	<link href="../assets/css/default/style.min.css" th:href="@{/assets/css/default/style.min.css}"  rel="stylesheet" />
	<link href="../assets/css/default/style-responsive.min.css" th:href="@{/assets/css/default/style-responsive.min.css}" rel="stylesheet" />
	<link href="../assets/css/default/theme/default.css" th:href="@{/assets/css/default/theme/default.css}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/pace/pace.min.js" th:src="@{/assets/plugins/pace/pace.min.js}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white"  th:classappend="${(param.lang!=null) and (param.lang[0]=='ar')} ? rtl-mode :''">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-with-news-feed">
			<!-- begin news-feed -->
			<div class="news-feed">
				<div class="news-image" style="background-image: url(../assets/img/login-bg/login-bg-11.jpg)"></div>
				<div class="news-caption">
					<h4 class="caption-title"><b>Color</b> Admin App</h4>
					<p>
						Download the Color Admin app for iPhone®, iPad®, and Android™. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
				</div>
			</div>
			<!-- end news-feed -->
			<!-- begin right-content -->
			<div class="right-content">
				<!-- begin login-header -->
				<div class="login-header">
					<div class="brand">
						<span class="logo"></span> <b>Color</b> Admin
						<small>responsive bootstrap 3 admin template</small>
					</div>
					<div class="icon">
						<i class="fa fa-sign-in"></i>
					</div>
				</div>
				<!-- end login-header -->
				<!-- begin login-content -->
				<div class="login-content">
				     
				    <div th:if="${login_error}" class="alert alert-danger fade show">
					  <span class="close" data-dismiss="alert">×</span>
					  <strong th:utext="#{login.error}"></strong>
					  
					</div>

				    
				    <form action="/users/login" th:action="@{/users/login}" th:object="${userSignInRequest}" method="post" class="margin-bottom-0">
				        <div class="form-group m-b-15">
							<input type="text" class="form-control form-control-lg" th:placeholder="#{login.email}" th:field="*{userEmail}" required />
						</div>
						<div class="form-group m-b-15">
							<input type="password" class="form-control form-control-lg" th:placeholder="#{login.password}" th:field="*{password}" required />
						</div>
						<div class="login-buttons">
							<button type="submit" class="btn btn-success btn-block btn-lg" th:utext="#{login.signin.button}"></button>
						</div>
						<div class="m-t-20 m-b-40 p-b-40 text-inverse" th:utext="#{login.register.question.text('/users/signup')}">
						</div>
						<hr />
						<p class="text-center text-grey-darker" th:utext="#{login.copyright.text}">
						</p>
				    </form>
<!-- 					<form action="index.html" method="GET" class="margin-bottom-0"> -->
						
<!-- 						<div class="checkbox checkbox-css m-b-30"> -->
<!-- 							<input type="checkbox" id="remember_me_checkbox" value="" /> -->
<!-- 							<label for="remember_me_checkbox"> -->
<!-- 							Remember Me -->
<!-- 							</label> -->
<!-- 						</div> -->
						
<!-- 					</form> -->
				</div>
				<!-- end login-content -->
			</div>
			<!-- end right-container -->
		</div>
		<!-- end login -->

		<!-- begin theme-panel -->
		<div th:insert="fragments/themePanel"></div>
		<!-- end theme-panel -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/jquery/jquery-3.3.1.min.js" th:src="@{/assets/plugins/jquery/jquery-3.3.1.min.js}"></script>
	<script src="../assets/plugins/jquery-ui/jquery-ui.min.js" th:src="@{/assets/plugins/jquery-ui/jquery-ui.min.js}"></script>
	<script src="../assets/plugins/bootstrap/4.1.3/js/bootstrap.bundle.min.js" th:src="@{/assets/plugins/bootstrap/4.1.3/js/bootstrap.bundle.min.js}"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js" th:src="@{/assets/crossbrowserjs/html5shiv.js}"></script>
		<script src="../assets/crossbrowserjs/respond.min.js" th:src="@{/assets/crossbrowserjs/respond.min.js}"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js" th:src="@{/assets/crossbrowserjs/excanvas.min.js}"></script>
	<![endif]-->
	<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js" th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script src="../assets/plugins/js-cookie/js.cookie.js" th:src="@{/assets/plugins/js-cookie/js.cookie.js}"></script>
	<script src="../assets/js/theme/default.min.js" th:src="@{/assets/js/theme/default.min.js}"></script>
	<script src="../assets/js/apps.min.js" th:src="@{/assets/js/apps.js}"></script>
	<!-- ================== END BASE JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
