<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html th:lang="#{document.lang}">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title th:utext="#{login.title}"></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/plugins/jquery-ui/jquery-ui.min.css" th:href="@{/assets/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap/4.1.3/css/bootstrap.min.css" th:href="@{/assets/plugins/bootstrap/4.1.3/css/bootstrap.min.css}"  rel="stylesheet" />
	<link href="../assets/plugins/font-awesome/5.3/css/all.min.css" th:href="@{/assets/plugins/font-awesome/5.3/css/all.min.css}"  rel="stylesheet" />
	<link href="../assets/plugins/animate/animate.min.css" th:href="@{/assets/plugins/animate/animate.min.css}"  rel="stylesheet" />
	<link href="../assets/css/default/style.min.css" th:href="@{/assets/css/default/style.min.css}"  rel="stylesheet" />
	<link href="../assets/css/default/style-responsive.min.css" th:href="@{/assets/css/default/style-responsive.min.css}"  rel="stylesheet" />
	<link href="../assets/css/default/theme/default.css" th:href="@{/assets/css/default/theme/default.css}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/pace/pace.min.js" th:src="@{/assets/plugins/pace/pace.min.js}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white"  th:classappend="${(param.lang!=null) and (param.lang[0]=='ar')} ? rtl-mode :''">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin register -->
		<div class="register register-with-news-feed">
			<!-- begin news-feed -->
			<div class="news-feed">
				<div class="news-image" style="background-image: url(../assets/img/login-bg/login-bg-9.jpg)"></div>
				<div class="news-caption">
					<h4 class="caption-title"><b>Color</b> Admin App</h4>
					<p>
						As a Color Admin app administrator, you use the Color Admin console to manage your organization’s account, such as add new users, manage security settings, and turn on the services you want your team to access.
					</p>
				</div>
			</div>
			<!-- end news-feed -->
			<!-- begin right-content -->
			<div class="right-content">
				<!-- begin register-header -->
				<h1 class="register-header" th:utext="#{register.signup}"></h1>
				<!-- end register-header -->
				<!-- begin register-content -->
				<div class="register-content">
					<form action="/users/signup" th:action="@{/users/signup}" th:object="${userSignUpRequest}" method="GET" class="margin-bottom-0">
						<label class="control-label" th:utext="#{register.name}"> <span class="text-danger">*</span></label>
						<div class="row row-space-10">
							<div class="col-md-6 m-b-15">
								<input type="text" class="form-control" th:placeholder="#{register.firstName}" th:field="*{firstName}" required />
							</div>
							<div class="col-md-6 m-b-15">
								<input type="text" class="form-control" th:placeholder="#{register.lastName}" th:field="*{lastName}" required />
							</div>
						</div>
						<label class="control-label"  th:utext="#{register.email}"><span class="text-danger">*</span></label>
						<div class="row m-b-15">
							<div class="col-md-12">
								<input type="text" class="form-control" th:placeholder="#{register.emailAddress}" th:field="*{email}"required />
							</div>
						</div>
						
						<label class="control-label" th:utext="#{register.password}"><span class="text-danger">*</span></label>
						<div class="row m-b-15">
							<div class="col-md-12">
								<input type="password" class="form-control" th:placeholder="#{register.password}" th:field="*{password}" required />
							</div>
						</div>
						
						<label class="control-label"  th:utext="#{register.rePassword}"><span class="text-danger">*</span></label>
						<div class="row m-b-15">
							<div class="col-md-12">
								<input type="text" class="form-control" th:placeholder="#{register.rePassword}" th:field="*{rePassword}" required />
							</div>
						</div>
						<div class="checkbox checkbox-css m-b-30">
							<div class="checkbox checkbox-css m-b-30">
								<input type="checkbox" id="agreement_checkbox" value="">
								<label for="agreement_checkbox">
								By clicking Sign Up, you agree to our <a href="javascript:;">Terms</a> and that you have read our <a href="javascript:;">Data Policy</a>, including our <a href="javascript:;">Cookie Use</a>.
								</label>
							</div>
						</div>
						<div class="register-buttons">
							<button type="submit" class="btn btn-primary btn-block btn-lg" th:utext="#{register.signup.button}"></button>
						</div>
						<div class="m-t-20 m-b-40 p-b-40 text-inverse" th:utext="#{register.question.text('/')}">
							
						</div>
						<hr />
						<p class="text-center" th:utext="#{register.copyright.text}"></p>
					</form>
				</div>
				<!-- end register-content -->
			</div>
			<!-- end right-content -->
		</div>
		<!-- end register -->
		
		<!-- begin theme-panel -->
		<div th:insert="fragments/themePanel"></div>
		<!-- end theme-panel -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/jquery/jquery-3.3.1.min.js" th:src="@{/assets/plugins/jquery/jquery-3.3.1.min.js}"></script>
	<script src="../assets/plugins/jquery-ui/jquery-ui.min.js" th:src="@{/assets/plugins/jquery/jquery-3.3.1.min.js}"></script>
	<script src="../assets/plugins/bootstrap/4.1.3/js/bootstrap.bundle.min.js" th:src="@{/assets/plugins/jquery/jquery-3.3.1.min.js}"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js" th:src="@{/assets/crossbrowserjs/html5shiv.js}"></script>
		<script src="../assets/crossbrowserjs/respond.min.js" th:src="@{/assets/crossbrowserjs/respond.min.js}"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js" th:src="@{/assets/crossbrowserjs/excanvas.min.js}"></script>
	<![endif]-->
	<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js" th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script src="../assets/plugins/js-cookie/js.cookie.js" th:src="@{/assets/plugins/js-cookie/js.cookie.js}"></script>
	<script src="../assets/js/theme/default.min.js" th:src="@{/assets/js/theme/default.min.js}"></script>
	<script src="../assets/js/apps.js" th:src="@{/assets/js/apps.js}"></script>
	<!-- ================== END BASE JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
